<!DOCTYPE html>
<html>
    <head>
        <title>Week 11 Lab 1</title>
    </head>

    <body>
        <h1>Exercise 1</h1>

        <p>
            We'd like to create a REST API for our Data Science students.
            Create a flask application that has three views that each take one of the following methods: 'GET', 'POST', 'DELETE'. 
            Set up a similar REST API, storing your data to an dictionary. 
            Your API should allow GET requests that return the dictionary, allow POST requests that add students and DELETE requests that remove students from the dictionary.
        </p>

        <p>Add your code to it's own github repo and submit the link to the repo.</p>

        
        <h2>My solution</h2>
        <p>GET requests displayed all DS students can be made at: 'localhost:5000/view'</p>
        <p>POST requests to add a new student can be made at: 'localhost:5000/add'</p>
        <p>DELETE requests to remove a student by typing their name can be made at: 'localhost:5000/remove'</p>

    </body>

</html>