<!DOCTYPE html>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>


    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Average</th>
        </tr>
        {% for student in data %}
        <tr>
            <td>{{ student.first_name }} {{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.average }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
